<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="grandslam">

  <!-- COLOR -->
    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="red">
        <color rgba="1 0 0 1" />
    </material>

    <material name="blue">
       <color rgba="0 1 0 1" />
    </material>

    <material name="green">
        <color rgba="0 0 1 1" />
    </material>
  <!-- Base_footprint -->
  <link name = "base_footprint">
  </link>

  <!-- base_link LINK -->
  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>

  <!--sensor_box LINK-->
  <joint name="sensor_box_link" type="fixed">
    <origin xyz="-0.1 0.0 0.335" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link ="sensor_box"/>
  </joint>

  <!--laser LINK-->
  <joint name="laser_link" type="fixed">
    <origin xyz="0.0 0.0 0.1255"/>
    <parent link="sensor_box"/>
    <child link ="laser"/>
  </joint>

  <!--imu LINK-->
  <joint name="imu_link" type="fixed">
    <parent link="sensor_box"/>
    <child link ="imu"/>
  </joint>

  <!-- base_link -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="1.30 0.75 0.47"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>

  <!-- sensor_box -->
  <link name="sensor_box">
    <visual>
      <geometry>
        <box size="0.3 0.4 0.2"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>

  <!-- laser -->
  <link name="laser" type="fixed">
    <visual>
      <geometry>
        <cylinder radius="0.0555" length="0.051"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <!--imu_link-->
  <link name="imu">
  </link>

</robot>
